#root {
    margin: 0 auto;
    padding: 1rem 2rem 1px 2rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* background: url('../Img/image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: #242424;
}
