.loginMainContentBlock {
  max-width: 500px;
  height: 50vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: transparent;
  box-shadow: 0px 0px 5px 2px;
  position: relative;
  margin-top: 13%;
}

.inputContainerLogIN {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 3rem;
  padding: 0 0 15px 0;
  
}

.iconInputLogIN {
  margin-right: 1rem; 
  font-size: 14px;
}

.inputLogIN {
  border: none;
  background-color: transparent;
}

.inputLogIN::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.9;
}

.inputLogIN:focus {
  outline: none;
}
