body {
  min-height: 100vh; 
  margin: 0; 
}

.mainBlockContentTasksSection {
  margin-top: 20px;
  display: flex; 
}

.leftBlockTasksSection {
  position: relative; 
  padding: 50px 0 0 30px;
  background-color: #fff;
  min-height: 68vh;
  max-height: 68vh; 
  overflow-y: auto; 
  resize: horizontal; 
  border-radius: 15px;
  max-width: 98vw;
  min-width: 40vw;
}

.rightBlockTasksSection {
  /* position: relative; 
  padding: 50px 0 0 30px;
  background-color: #fff;
  min-height: auto;
  max-height: 68vh; 
  overflow-y: auto; 
  resize: horizontal;
  position: absolute;
  max-width: 96.6vw; */
}

.iconLoading {
  color: orange;
}

.iconDone {
  color: green;
}

.iconOverdue {
  color: red;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container .tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
